<!doctype html>
<html>

<head>
    <%- include("partial/_head") %>
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <%- include("slides/_slide4") %>

            <%- include("slides/_slide1") %>

            <%- include("slides/_slide2") %>

            <%- include("slides/_slide3") %>
        </div>
    </div>

    <%- include("partial/_js") %>

</body>

</html>