<section>
    <div class="line_top_right"></div>
    <div class="line_top_left"></div>
    <div class="line_botom_right"></div>
    <div class="line_botom_left"></div>
    <div class="full_slide">
        <div class="test_right">
            <p class="title text"><%- text_right %></p>
        </div>
        <div class="test_left">
            <p class="autor text"><%- text_left %></p>
        </div>
        <div class="test_top">
            <p class="autor text"><%- text_top %></p>
        </div>
        <div class="test_bottom">
            <p class="autor text"><%- text_bottom %></p>
        </div>
        <div class="main_text">
            <p class="quote"><%- quote %></p>
            <p class="author"><%- author %></p>
        </div>
    </div>
</section>












