<!--
poster_link
mp4_link
webm_link
caption_link

text_right
text_left
text_top
text_bottom
-->

<section>
    <div class="full_slide">
        <div class="test_right">
            <p class="title text"><%- text_right %></p>
        </div>
        <div class="test_left">
            <p class="autor text"><%- text_left %></p>
        </div>
        <div class="test_top">
            <p class="autor text"><%- text_top %></p>
        </div>
        <div class="test_bottom">
            <p class="autor text"><%- text_bottom %></p>
        </div>
        <video poster="<%- poster_link %>" controls>
            <source src="<%- mp4_link %>" type="video/mp4">

            <% if (webm_link != "") { %>
                <source src="<%- webm_link %>" type="video/webm">
            <% } %>

            <% if (caption_link != "") { %>
                <!-- Captions are optional -->
                <!--<track kind="captions" label="English captions" src="<%- caption_link %>" srclang="en" default>-->
            <% } %>

        </video>
    </div>
</section>