<section>
    <div class="full_slide">
        <div class="test_right">
            <p class="title text"><%- title %></p>
        </div>
        <p class="year text"><%- year %></p>
        <p class="materials text"><%- materials %></p>
        <p class="description text"><%- description %></p>
        <div class="main_img"><img src="<%- img_url %>"></div>
    </div>
</section>