<!--
text_right
text_left
text_top
text_bottom

youtube_id
-->
<section>
    <div class="full_slide">
        <div class="test_right">
            <p class="title text"><%- text_right %></p>
        </div>
        <div class="test_left">
            <p class="autor text"><%- text_left %></p>
        </div>
        <div class="test_top">
            <p class="autor text"><%- text_top %></p>
        </div>
        <div class="test_bottom">
            <p class="autor text"><%- text_bottom %></p>
        </div>
        <div data-type="youtube" data-video-id="<%- youtube_id %>"></div> 
    </div>
</section>